@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900&family=Inter:wght@300;400;500;700;900&display=swap");
html, body {
  color: #191919;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
}
@media (min-width: 576px) {
  html, body {
    font-size: 16px;
  }
}

h2 {
  font-family: "DM sans", sans-serif;
  font-weight: 700;
  font-size: 32px;
}
@media (min-width: 1200px) {
  h2 {
    font-size: 45px;
  }
}

h3 {
  font-family: "DM sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #191919;
}
@media (min-width: 768px) {
  h3 {
    font-size: 18px;
  }
}
@media (min-width: 992px) {
  h3 {
    font-size: 22px;
  }
}

.orange-txt {
  color: #F94D1C;
  font-size: 14px;
}
@media (min-width: 1200px) {
  .orange-txt {
    font-size: 18px;
  }
}

@media (min-width: 1660px) {
  #features-container {
    max-width: 1520px;
  }
}
.btn-yellow {
  background-color: #F9D783;
  border: 1px solid #F9D783;
  border-radius: 25px;
  color: #191919;
  text-decoration: none;
  padding: 15px 25px;
  font-weight: 600;
  font-size: 14px;
}
@media (min-width: 992px) {
  .btn-yellow {
    font-size: 16px;
  }
}
.btn-yellow i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-yellow:hover {
  background-color: #191919;
  border: 1px solid #F9D783;
  color: white;
}

.btn-transparent {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 25px;
  color: #191919;
  text-decoration: none;
  padding: 15px 25px;
  font-weight: 600;
  font-size: 14px;
}
@media (min-width: 992px) {
  .btn-transparent {
    font-size: 16px;
  }
}
.btn-transparent i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-transparent:hover {
  background-color: #191919;
  border: 1px solid #F9D783;
  color: white;
}

.btn-transparent-fat {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 35px;
  color: #191919;
  text-decoration: none;
  padding: 20px 35px;
  font-weight: 400;
  font-size: 14px;
}
@media (min-width: 992px) {
  .btn-transparent-fat {
    font-size: 16px;
  }
}
.btn-transparent-fat i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-transparent-fat:hover {
  background-color: #191919;
  border: 1px solid #F9D783;
  color: white;
}

.btn-black {
  background-color: #191919;
  border: 1px solid #191919;
  border-radius: 25px;
  color: white;
  text-decoration: none;
  padding: 15px 25px;
  font-weight: 600;
  font-size: 14px;
}
@media (min-width: 992px) {
  .btn-black {
    font-size: 16px;
  }
}
.btn-black i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-black:hover {
  background-color: #F9D783;
  border: 1px solid #F9D783;
  color: black;
}

.btn-video {
  background-color: transparent;
  color: #191919;
  text-decoration: none;
  padding: 15px 25px;
  font-weight: 600;
  font-size: 14px;
}
@media (min-width: 992px) {
  .btn-video {
    font-size: 16px;
  }
}
.btn-video i {
  padding: 18px;
  align-items: center;
  border: 1px solid #191919;
  border-radius: 100%;
  margin-left: 8px;
  margin-right: 15px;
  font-size: 0.9em;
}
.btn-video i:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: white;
}

.btn-arw-r {
  text-decoration: none;
  padding: 15px 25px;
  font-weight: 600;
  text-align: right;
  font-size: 14px;
}
@media (min-width: 992px) {
  .btn-arw-r {
    font-size: 16px;
  }
}
.btn-arw-r i {
  background-color: black;
  color: white;
  padding: 20px;
  align-items: center;
  border: 1px solid #191919;
  border-radius: 100%;
  margin-left: 8px;
  margin-right: -15px;
  font-size: 0.9em;
}

.slide-dots {
  text-align: center;
  margin-top: 30px;
}
@media (min-width) {
  .slide-dots {
    margin-top: 50px;
  }
}
.slide-dots .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #C4AF75;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.slide-dots .dot:hover:active {
  background-color: #191919;
}
.slide-dots .active, .slide-dots .dot:hover {
  background-color: #191919;
}

header {
  background-color: #F0EFE9;
  padding: 16px;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
header .container .menu {
  display: none;
  flex: 1 1 0;
}
@media (min-width: 992px) {
  header .container .menu {
    display: block;
  }
}
header .container .menu .top-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid #dad9d3;
  padding-bottom: 10px;
}
@media (min-width: 1200px) {
  header .container .menu .top-menu {
    justify-content: space-between;
  }
}
header .container .menu .top-menu .contact-information {
  display: none;
  align-items: center;
}
@media (min-width: 1200px) {
  header .container .menu .top-menu .contact-information {
    display: flex;
  }
}
header .container .menu .top-menu .contact-information .content-box {
  padding-right: 30px;
  margin-right: 30px;
  border-right: 1px solid #dad9d3;
  font-family: "Inter" sans-serif;
  font-size: 15px;
  font-weight: 300;
}
@media (min-width: 1200px) {
  header .container .menu .top-menu .contact-information .content-box {
    justify-content: space-between;
    display: flex;
  }
}
header .container .menu .top-menu .contact-information .content-box i {
  margin-right: 5px;
  font-size: 1.2em;
}
header .container .menu .top-menu .contact-information .content-box.last {
  border: none;
}
header .container .menu .top-menu .social-media a {
  color: #191919;
  font-size: 1.3rem;
  margin-left: 10px;
}
header .container .menu .top-menu .social-media a:hover {
  color: #7c7c7c;
}
header .container .menu .btn-login {
  padding-top: 12px;
  padding-bottom: 12px;
}
header .container .main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
header .container .main-menu nav a {
  display: inline-block;
  color: #191919;
  text-decoration: none;
  margin-right: 35px;
  position: relative;
}
header .container .main-menu nav a.active {
  font-weight: 500;
}
header .container .main-menu nav a.active::after, header .container .main-menu nav a:hover::after {
  content: "";
  position: absolute;
  font-weight: 500;
  height: 2px;
  width: 15px;
  background-color: #191919;
  left: 50%;
  bottom: -3px;
  transform: translate(calc(50% - 15px));
}
header .container .menu-bars {
  font-size: 30px;
  border: none;
  background-color: transparent;
}
@media (min-width: 992px) {
  header .container .menu-bars {
    display: none;
  }
}

.showcase {
  background-color: #F0EFE9;
}
.showcase .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.showcase .container .content {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
}
@media (min-width: 1200px) {
  .showcase .container .content {
    text-align: left;
  }
}
.showcase .container .content h1 {
  font-family: DM sans, sans-serif;
  font-weight: 700;
  font-size: 40px;
}
@media (min-width: 768px) {
  .showcase .container .content h1 {
    font-size: 70px;
  }
}
@media (min-width: 1200px) {
  .showcase .container .content h1 {
    font-size: 70px;
  }
}
@media (min-width: 1400px) {
  .showcase .container .content h1 {
    font-size: 86px;
  }
}
.showcase .container .content p {
  font-size: 16px;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  .showcase .container .content p {
    font-size: 20px;
    padding-left: 0;
    padding-right: 0;
  }
}
.showcase .container .content a {
  margin-right: 0;
  display: block;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .showcase .container .content a {
    display: inline-block;
    margin-right: 10px;
  }
}
.showcase .container img {
  display: none;
  margin-right: -50px;
}
@media (min-width: 1200px) {
  .showcase .container img {
    display: block;
  }
}

.clients {
  padding-top: 20px;
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  .clients {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media (min-width: 992px) {
  .clients {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
.clients .container {
  padding: 25px 0;
}
.clients .container .client-wrapper {
  display: block;
}
@media (min-width: 992px) {
  .clients .container .client-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: content-box;
    padding: 20px;
  }
}
@media (min-width: 1200px) {
  .clients .container .client-wrapper {
    margin-right: -50px;
  }
}
.clients .container .client-wrapper .client-img {
  display: block;
  margin: 30px auto;
}
@media (min-width: 992px) {
  .clients .container .client-wrapper .client-img {
    display: flex;
    width: -moz-fit-content;
    width: fit-content;
  }
}

.features-container {
  align-items: center;
}
.features-container .container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 992px) {
  .features-container .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
    gap: 10px;
    border: 1px solid #D3D3D3;
    padding: 72px;
  }
}
.features-container .container .box-left {
  text-align: center;
  margin: 20px;
}
@media (min-width: 992px) {
  .features-container .container .box-left {
    flex: 3;
    text-align: start;
    margin: 0;
  }
}
.features-container .container .box-left p {
  padding-bottom: 10px;
}
.features-container .container .box-left .box-title {
  margin-top: 20px;
  margin-bottom: 40px;
}
.features-container .container .box-left .btn-yellow {
  display: inline-block;
}
@media (min-width: 992px) {
  .features-container .container .box-left .btn-yellow {
    display: block;
    text-align: center;
  }
}
@media (min-width: 992px) {
  .features-container .container .left-spacer {
    flex: 0.3;
  }
}
.features-container .container .grid-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 0.5fr));
  margin: 30px 10px;
  gap: 40px;
}
@media (min-width: 992px) {
  .features-container .container .grid-container {
    flex: 4;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding: 0 40px;
    gap: 40px;
  }
}
.features-container .container .grid-container .grid-item {
  text-align: left;
}
.features-container .container .grid-container .grid-item img {
  padding-bottom: 20px;
}
.features-container .container .grid-container .grid-item .features-h3 {
  padding-bottom: 20px;
  font-size: 16px;
}
@media (min-width: 992px) {
  .features-container .container .right-spacer {
    flex: 0.8;
  }
}

.company-intro .container {
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-flex;
  flex-direction: column-reverse;
  gap: 20px;
  text-align: center;
  align-content: center;
}
@media (min-width: 768px) {
  .company-intro .container {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
@media (min-width: 992px) {
  .company-intro .container {
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    gap: 50px;
  }
}
@media (min-width: 1200px) {
  .company-intro .container {
    margin-top: 90px;
    margin-bottom: 90px;
    flex-direction: row;
    text-align: left;
    gap: 200px;
  }
}
@media (min-width: 1400px) {
  .company-intro .container {
    margin-top: 120px;
    margin-bottom: 120px;
  }
}
.company-intro .container .sam-b-wrapper {
  position: relative;
  margin: 0 auto;
}
.company-intro .container .sam-b-wrapper img {
  flex: 2;
  max-width: 100%;
}
.company-intro .container .sam-b-wrapper .blue-hover-wrapper {
  position: absolute;
  top: 63%;
  right: 30%;
  left: -5%;
}
@media (min-width: 1200px) {
  .company-intro .container .sam-b-wrapper .blue-hover-wrapper {
    left: -10%;
  }
}
.company-intro .container .sam-b-wrapper .blue-hover-wrapper .blue-hover-box {
  background-color: #BEEBFF;
  padding: 40px 20px 40px 30px;
  z-index: 1;
}
.company-intro .container .sam-b-wrapper .blue-hover-wrapper .blue-hover-box .bh-inline-txt {
  display: flex;
}
.company-intro .container .sam-b-wrapper .blue-hover-wrapper .blue-hover-box .bh-inline-txt h3 {
  font-size: 20px;
  font-family: "DM sans", sans-serif;
  font-weight: 900;
}
.company-intro .container .sam-b-wrapper .blue-hover-wrapper .blue-hover-box .bh-inline-txt p {
  font-size: 16px;
  font-weight: 700;
  margin-left: 5px;
}
.company-intro .container .about-company {
  flex: 1;
  text-align: center;
}
@media (min-width: 992px) {
  .company-intro .container .about-company {
    text-align: left;
    padding-left: 0px;
  }
}
@media (min-width: 1200px) {
  .company-intro .container .about-company {
    text-align: left;
    padding-left: 30px;
  }
}
.company-intro .container .about-company .orange-txt {
  color: #F94D1C;
  font-size: 18px;
}
@media (min-width: 768px) {
  .company-intro .container .about-company .orange-txt {
    margin-bottom: 10px;
  }
}
.company-intro .container .about-company h2 {
  margin-top: 10px;
  margin-bottom: 20px;
}
@media (min-width: 1200px) {
  .company-intro .container .about-company h2 {
    margin-top: 30px;
    margin-bottom: 60px;
  }
}
@media (max-width: 1200px) {
  .company-intro .container .about-company h2 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
.company-intro .container .about-company .lorem {
  text-align: justify;
  margin: 0 20px;
}
@media (min-width: 992px) {
  .company-intro .container .about-company .lorem {
    text-align: left;
    margin: 0;
  }
}
.company-intro .container .about-company .btm-txt {
  padding-top: 10px;
  margin-bottom: 40px;
}
@media (min-width: 992px) {
  .company-intro .container .about-company .btm-txt {
    padding-top: 10px;
    margin-top: 50px;
  }
}
@media (max-width: 1200px) {
  .company-intro .container .about-company .btm-txt {
    margin-top: 20px;
  }
}
.company-intro .container .about-company .ci-buttons {
  margin-top: 106px;
}
@media (max-width: 1200px) {
  .company-intro .container .about-company .ci-buttons {
    margin-top: 60px;
  }
}

.our-services {
  background-color: #F0EFE9;
  padding-top: 60px;
  padding-bottom: 10px;
}
@media (min-width: 992px) {
  .our-services {
    margin-top: 120px;
    padding-top: 120px;
  }
}
.our-services .container {
  margin: 0 auto;
}
.our-services .container .c-top {
  display: block;
}
@media (min-width: 768px) {
  .our-services .container .c-top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 30px;
  }
}
.our-services .container .c-top .top-wrapper {
  flex: 1;
  text-align: center;
}
@media (min-width: 992px) {
  .our-services .container .c-top .top-wrapper {
    text-align: start;
  }
}
@media (min-width: 992px) {
  .our-services .container .c-top .spacer-rgt {
    flex: 1.8;
  }
}
.our-services .container .c-middle {
  display: inline-block;
  gap: 10px;
}
@media (min-width: 992px) {
  .our-services .container .c-middle {
    display: flex;
  }
}
.our-services .container .c-middle .grid-container {
  display: grid;
  grid-template-columns: auto;
  text-decoration: none;
  margin: 10px;
}
@media (min-width: 768px) {
  .our-services .container .c-middle .grid-container {
    grid-template-columns: auto;
    margin: 15px;
  }
}
@media (min-width: 992px) {
  .our-services .container .c-middle .grid-container {
    grid-template-columns: auto auto auto auto;
    margin: 10px;
  }
}
.our-services .container .c-middle .grid-container .grid-item-services {
  background: white;
  padding: 30px;
  text-decoration: none;
}
.our-services .container .c-middle .grid-container .grid-item-services:hover {
  background-color: #F9D783;
  transition: 1s;
}
.our-services .container .c-middle .grid-container .grid-item-services:hover .btn-arw-r i {
  background-color: white;
  color: #191919;
  transition: 0.7s;
}
.our-services .container .c-middle .grid-container .grid-item-services .box-line {
  font-weight: 700;
  margin-bottom: 40px;
  color: #191919;
}
.our-services .container .c-middle .grid-container .grid-item-services h3 {
  margin-bottom: 16px;
}
.our-services .container .c-middle .grid-container .grid-item-services p {
  font-family: "inter" sans-serif;
  font-weight: 400;
  color: #626262;
}
.our-services .container .c-btm {
  text-align: center;
  margin: 40px;
}
@media (min-width: 1200px) {
  .our-services .container .c-btm {
    margin-top: 60px;
    margin-bottom: 120px;
  }
}

.why-choose-us .flex-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media (min-width: 1200px) {
  .why-choose-us .flex-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .why-choose-us .flex-wrapper {
    text-align: left;
  }
}
.why-choose-us .flex-wrapper .cu-lft {
  flex: 1;
}
.why-choose-us .flex-wrapper .cu-lft .cu-title-cont {
  margin: 30px auto;
}
@media (min-width: 992px) {
  .why-choose-us .flex-wrapper .cu-lft .cu-title-cont {
    padding: 20px;
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .why-choose-us .flex-wrapper .cu-lft .cu-title-cont {
    padding: 0 250px 0 0;
    margin: 0 0 50px 0;
  }
}
.why-choose-us .flex-wrapper .cu-lft .cu-title-cont .cu-title {
  font-size: 26px;
}
@media (min-width: 992px) {
  .why-choose-us .flex-wrapper .cu-lft .cu-title-cont .cu-title {
    font-size: 36px;
  }
}
.why-choose-us .flex-wrapper .cu-lft .cu-points-cont .points {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.why-choose-us .flex-wrapper .cu-lft .cu-points-cont .points .img-div img {
  padding: 10px;
  border: 1px solid #E8E8E8;
  border-radius: 50%;
  margin-left: 20px;
  margin-bottom: 30px;
}
@media (min-width: 992px) {
  .why-choose-us .flex-wrapper .cu-lft .cu-points-cont .points .img-div img {
    padding: 18px;
    border: 1px solid #E8E8E8;
    border-radius: 50%;
    margin-left: 0;
  }
}
.why-choose-us .flex-wrapper .cu-lft .cu-points-cont .points .txt-div {
  font-size: 12px;
  margin-left: 5px;
  flex: 1;
}
@media (min-width: 992px) {
  .why-choose-us .flex-wrapper .cu-lft .cu-points-cont .points .txt-div {
    margin-left: 15px;
    font-size: 16px;
  }
}
.why-choose-us .flex-wrapper .cu-lft .cu-points-cont .points .txt-div p {
  color: #626262;
}
.why-choose-us .flex-wrapper .cu-rgt {
  flex: 1;
}
.why-choose-us .flex-wrapper .cu-rgt .top-white {
  margin-top: 30px;
  display: block;
}
@media (min-width: 1200px) {
  .why-choose-us .flex-wrapper .cu-rgt .top-white {
    display: flex;
    background-color: transparent;
    padding-top: 250px;
    position: relative;
  }
}
.why-choose-us .flex-wrapper .cu-rgt .top-white img {
  width: 90%;
}
@media (min-width: 1200px) {
  .why-choose-us .flex-wrapper .cu-rgt .top-white img {
    width: 100%;
    z-index: 1;
    position: absolute;
    top: 70px;
    left: 20px;
  }
}
.why-choose-us .flex-wrapper .cu-rgt .bottom-grey {
  display: none;
}
@media (min-width: 1200px) {
  .why-choose-us .flex-wrapper .cu-rgt .bottom-grey {
    display: block;
    background-color: #F0EFE9;
    padding: 212px;
    margin-right: -198px;
    margin-left: -100px;
  }
}

.projects .projects-wrapper .title-wrapper {
  text-align: center;
  margin-top: 80px;
}
.projects .projects-wrapper .title-wrapper .orange-txt {
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .projects .projects-wrapper .title-wrapper .orange-txt {
    margin-bottom: 30px;
  }
}
.projects .projects-wrapper .title-wrapper h2 {
  margin: 0 20px;
  margin-bottom: 60px;
}
.projects .projects-wrapper .grid-container-p {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-area: 1fr auto 1fr;
  gap: 30px;
}
.projects .projects-wrapper .grid-container-p .grid-item-p {
  text-decoration: none;
  color: #191919;
}
.projects .projects-wrapper .grid-container-p .grid-item-p img {
  margin-bottom: 40px;
  width: 100%;
}
.projects .projects-wrapper .grid-container-p .grid-item-p h3 {
  border-bottom: 2px solid #E8E8E8;
  padding-bottom: 20px;
}
.projects .projects-wrapper .grid-container-p .grid-item-p h3 br {
  display: inline;
}
@media (min-width: 992px) {
  .projects .projects-wrapper .grid-container-p .grid-item-p h3 br {
    display: none;
  }
}
.projects .projects-wrapper .grid-container-p .grid-item-p .txt-arw {
  text-align: right;
  margin: 15px;
}
.projects .projects-wrapper .grid-container-p .grid-item-p:hover .txt-arw {
  text-decoration: underline;
}
.projects .projects-wrapper .btn-projects {
  text-align: center;
  margin-top: 60px;
}

.team {
  background-color: #ECD28B;
}
.team .container {
  margin-top: 60px;
  padding-top: 30px;
  padding-bottom: 30px;
}
@media (min-width: 768px) {
  .team .container {
    margin-top: 90px;
    padding-top: 125px;
    padding-bottom: 70px;
  }
}
.team .container .top-wrapper {
  display: block;
  text-align: center;
}
@media (min-width: 768px) {
  .team .container .top-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }
}
.team .container .top-wrapper .team-title p {
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .team .container .top-wrapper .team-title p {
    margin-bottom: 30px;
  }
}
.team .container .top-wrapper .team-title h2 {
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .team .container .top-wrapper .team-title h2 {
    margin-bottom: 60px;
  }
}
.team .container .top-wrapper .btn-team-wrapper {
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .team .container .top-wrapper .btn-team-wrapper {
    margin-bottom: 0px;
  }
}
.team .container .top-wrapper .btn-team-wrapper .btn-team {
  border: 1px solid #191919;
  font-weight: 600;
}
.team .container .slide-wrapper {
  padding-top: 30px;
}
.team .container .slide-wrapper .carousel .carousel-inner .item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-area: auto auto 1fr;
  align-items: center;
  gap: 15px;
  text-decoration: none;
}
@media (min-width: 768px) {
  .team .container .slide-wrapper .carousel .carousel-inner .item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 30px;
    text-decoration: none;
  }
}
.team .container .slide-wrapper .carousel .carousel-inner .item .img-wrap img {
  width: 100%;
  margin-bottom: 30px;
}
.team .container .slide-wrapper .carousel .carousel-inner .item .img-wrap .slide-bottom-text p {
  color: #626262;
  font-size: 14px;
}
@media (min-width: 768px) {
  .team .container .slide-wrapper .carousel .carousel-inner .item .img-wrap .slide-bottom-text p {
    font-size: 16px;
  }
}

.testimonials {
  background-color: #ECD28B;
  padding: 15px 10px 40px 10px;
}
@media (min-width: 768px) {
  .testimonials {
    background-color: #ECD28B;
    padding-top: 125px;
    padding-bottom: 125px;
  }
}
.testimonials .container {
  background-color: white;
  padding-top: 40px;
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  .testimonials .container {
    padding-top: 125px;
    padding-bottom: 125px;
  }
}
.testimonials .container .test-top-wrapper div {
  text-align: center;
}
.testimonials .container .test-top-wrapper div p {
  color: #F94D1C;
  margin: 10px;
}
@media (min-width: 768px) {
  .testimonials .container .test-top-wrapper div p {
    margin-bottom: 35px;
  }
}
.testimonials .container .test-grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-area: auto 1fr auto;
  padding: 20px;
}
@media (min-width: 992px) {
  .testimonials .container .test-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    padding: 100px;
  }
}
.testimonials .container .test-grid-container .grid-item {
  margin: 15px 0;
  padding: 10px;
  border: 1px solid #D3D3D3;
  border-radius: 10px;
}
@media (min-width: 992px) {
  .testimonials .container .test-grid-container .grid-item {
    margin: 0;
    padding: 0;
    border: none;
  }
}
.testimonials .container .test-grid-container .grid-item .stars {
  letter-spacing: 3px;
  color: #F94D1C;
}
.testimonials .container .test-grid-container .grid-item p {
  color: #191919;
}
.testimonials .container .test-grid-container .grid-item .flex-wrapper {
  display: flex;
  align-items: center;
}
.testimonials .container .test-grid-container .grid-item .flex-wrapper div {
  margin-left: 20px;
}
.testimonials .container .test-grid-container .grid-item .flex-wrapper div h3 {
  margin-top: 15px;
}
.testimonials .container .test-grid-container .grid-item .flex-wrapper div p {
  color: #F94D1C;
}
.testimonials .container .btn-black-div {
  text-align: center;
}

.articles-news .container {
  padding-bottom: 30px;
}
@media (min-width: 992px) {
  .articles-news .container {
    padding-top: 60px;
  }
}
@media (min-width: 1200px) {
  .articles-news .container {
    padding: 75px;
    padding-top: 90px;
  }
}
@media (min-width: 1400px) {
  .articles-news .container {
    padding: 100px;
    padding-top: 120px;
  }
}
.articles-news .container .top {
  display: block;
  text-align: center;
}
@media (min-width: 992px) {
  .articles-news .container .top {
    display: flex;
    justify-content: space-between;
    align-items: last baseline;
    text-align: left;
  }
}
.articles-news .container .top .top-lft p {
  margin-top: 30px;
}
.articles-news .container .top .top-lft h2 {
  margin-top: 20px;
}
.articles-news .container .top .top-rgt {
  margin-top: 40px;
}
@media (min-width: 992px) {
  .articles-news .container .top .top-rgt {
    margin-top: 0;
  }
}
.articles-news .container .top .top-rgt .articles-btn-container .btn-transparent-fat {
  padding: 15px 35px;
}
.articles-news .container .grid-container {
  display: grid;
  grid-template-columns: 1fr;
  margin: 40px auto 20px;
  gap: 15px;
}
@media (min-width: 768px) {
  .articles-news .container .grid-container {
    gap: 30px;
  }
}
@media (min-width: 768px) {
  .articles-news .container .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.articles-news .container .grid-container .grid-item {
  border: 1px solid #D3D3D3;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  width: 100%;
  text-decoration: none;
}
@media (min-width: 992px) {
  .articles-news .container .grid-container .grid-item {
    border: none;
  }
}
.articles-news .container .grid-container .grid-item .img-wrapper .article-img {
  width: 100%;
}
.articles-news .container .grid-container .grid-item .img-wrapper .date-wrapper {
  position: absolute;
  width: 100%;
  top: 5%;
  left: 5%;
}
.articles-news .container .grid-container .grid-item .img-wrapper .date-wrapper img {
  width: 15%;
}
.articles-news .container .grid-container .grid-item .subject {
  margin: 15px auto;
  color: #6A6C71;
}
.articles-news .container .grid-container .grid-item h3 {
  margin: 10px auto;
}
.articles-news .container .grid-container .grid-item:hover h3 {
  text-decoration: underline;
}
.articles-news .container .grid-container .grid-item .lorem {
  padding-right: 50px;
  color: #6A6C71;
}
.articles-news .container .bottom .slide-dots {
  text-align: center;
}
@media (min-width: 768px) {
  .articles-news .container .bottom .slide-dots {
    margin-top: 30px;
  }
}
@media (min-width: 992px) {
  .articles-news .container .bottom .slide-dots {
    margin-top: 60px;
  }
}
.articles-news .container .bottom .slide-dots .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #d3d3d3;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.articles-news .container .bottom .slide-dots .dot:hover:active {
  background-color: #191919;
}
.articles-news .container .bottom .slide-dots .active, .articles-news .container .bottom .slide-dots .dot:hover {
  background-color: #191919;
}

.subscribe {
  background-color: #F0EFE9;
}
.subscribe .container {
  padding: 40px 15px 30px 15px;
}
@media (min-width: 992px) {
  .subscribe .container {
    padding: 40px;
  }
}
@media (min-width: 1200px) {
  .subscribe .container {
    padding: 100px;
  }
}
.subscribe .container .flex-wrapper {
  display: block;
  text-align: center;
}
@media (min-width: 992px) {
  .subscribe .container .flex-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
  }
}
.subscribe .container .flex-wrapper .left h2 {
  padding: 0 50px 15px;
  font-size: 24px;
}
@media (min-width: 380px) {
  .subscribe .container .flex-wrapper .left h2 {
    padding: 0 60 15px;
    font-size: 28px;
  }
}
@media (min-width: 576px) {
  .subscribe .container .flex-wrapper .left h2 {
    padding: 0 0 15px;
    font-size: 28px;
  }
}
@media (min-width: 768px) {
  .subscribe .container .flex-wrapper .left h2 {
    padding: 0 0 15px;
    font-size: 32px;
  }
}
@media (min-width: 1200px) {
  .subscribe .container .flex-wrapper .left h2 {
    padding: 0px;
    font-size: 38px;
  }
}
@media (min-width: 1400px) {
  .subscribe .container .flex-wrapper .left h2 {
    font-size: 45px;
  }
}
.subscribe .container .flex-wrapper .right {
  display: block;
  position: relative;
}
@media (min-width: 576px) {
  .subscribe .container .flex-wrapper .right {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}
@media (min-width: 992px) {
  .subscribe .container .flex-wrapper .right {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.subscribe .container .flex-wrapper .right .email {
  border: 5px solid white;
  border-radius: 25px;
  padding: 8px 25px;
  margin: 0.5em;
}
.subscribe .container .flex-wrapper .right .btn-yellow {
  display: inline-block;
  padding: 12px 25px;
  margin: 0.5em;
}
.subscribe .design {
  display: none;
}
@media (min-width: 1200px) {
  .subscribe .design {
    display: flex;
    position: absolute;
    width: 40px;
    max-width: 100%;
    top: 50%;
    left: 110%;
  }
}

.footer {
  background-color: #0E1021;
  position: relative;
  z-index: auto;
}
.footer .footer-top {
  position: relative;
  padding: 20px;
}
@media (min-width: 768px) {
  .footer .footer-top {
    padding: 40px;
  }
}
@media (min-width: 1200px) {
  .footer .footer-top {
    padding: 100px 100px 75px;
  }
}
.footer .footer-top .top .grid-container {
  display: flex;
  justify-content: center;
  grid-area: 1fr;
}
@media (min-width: 992px) {
  .footer .footer-top .top .grid-container {
    display: grid;
    align-items: baseline;
    justify-content: space-between;
    grid-template-columns: 1.8fr 1fr 1fr 1fr 1fr;
    gap: 60px;
  }
}
.footer .footer-top .top .grid-container .grid-item {
  display: none;
}
@media (min-width: 992px) {
  .footer .footer-top .top .grid-container .grid-item {
    display: inline-block;
  }
}
.footer .footer-top .top .grid-container .grid-item h3 {
  color: white;
  margin-bottom: 40px;
}
.footer .footer-top .top .grid-container .grid-item .grey-text a {
  color: #B9B9BF;
  text-decoration: none;
}
.footer .footer-top .top .grid-container .grid-item .grey-text a:hover {
  text-decoration: underline;
}
.footer .footer-top .top .grid-container #logotype {
  display: block;
}
@media (min-width: 992px) {
  .footer .footer-top .top .grid-container #logotype img {
    padding-left: 30px;
  }
}
@media (min-width: 992px) and (min-width: 992px) {
  .footer .footer-top .top .grid-container #logotype img {
    padding: 0;
    margin-bottom: 40px;
  }
}
.footer .footer-top .top .grid-container #logotype .lorem {
  color: #B9B9BF;
  display: none;
}
@media (min-width: 992px) {
  .footer .footer-top .top .grid-container #logotype .lorem {
    display: block;
  }
}
.footer .footer-top .design .absolute-f-t {
  display: none;
}
@media (min-width: 1200px) {
  .footer .footer-top .design .absolute-f-t {
    display: flex;
    position: absolute;
    left: 68%;
    top: 75%;
    z-index: 1;
  }
}
.footer .cf-1 {
  display: none;
}
@media (min-width: 992px) {
  .footer .cf-1 {
    min-width: 100vw;
    background-color: #0E1021;
    border: 1px solid #7c7c7c;
    position: relative;
  }
}
.footer .footer-bottom {
  background-color: #0E1021;
  position: relative;
  z-index: 2;
}
.footer .footer-bottom .bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
@media (min-width: 992px) {
  .footer .footer-bottom .bottom {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-content: center;
    text-align: left;
    padding: 30px 0 12px;
  }
}
.footer .footer-bottom .bottom .left .copyright {
  color: #B9B9BF;
  font-size: 10px;
}
@media (min-width: 576px) {
  .footer .footer-bottom .bottom .left .copyright {
    font-size: 16px;
  }
}
.footer .footer-bottom .bottom .right {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.footer .footer-bottom .bottom .right p .soc-med-footer i {
  color: white;
  padding: 25px;
}
@media (min-width: 992px) {
  .footer .footer-bottom .bottom .right p .soc-med-footer i {
    padding: 0 15px;
  }
}

.connect {
  background-color: #F0EFE9;
}
.connect .container {
  text-align: center;
  padding: 20px 10px;
}
@media (min-width: 992px) {
  .connect .container {
    padding: 90px 0;
  }
}
.connect .container nav .breadcrumb {
  display: flex;
  justify-content: center;
  align-items: center;
}
.connect .container nav .breadcrumb .inactive a {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  color: #191919;
}
.connect .container nav .breadcrumb .inactive a:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}
.connect .container nav .breadcrumb .active {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  color: #191919;
}

.contact .container {
  padding: 100px;
}
.contact .container .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  grid-area: 1fr 1fr 1fr;
}
.contact .container .grid-container .grid-item {
  display: flex;
  border: 1px solid #dad9d3;
  padding: 60px 50px;
}
.contact .container .grid-container .grid-item .icon i {
  font-size: 20px;
  text-align: center;
  padding: 15px;
  color: white;
  background-color: #191919;
  border: 1px solid #191919;
  border-radius: 50%;
  margin-right: 20px;
}
.contact .container .grid-container .grid-item .text a {
  display: block;
  text-decoration: none;
  color: #191919;
}
.contact .container .message-us {
  background-color: #F0EFE9;
  margin-top: 100px;
  padding: 100px 150px;
}
.contact .container .message-us h2 {
  text-align: center;
  margin: 0 200px;
}
.contact .container .message-us form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.contact .container .message-us form input {
  border: 10px solid white;
  border-radius: 25px;
}
.contact .container .message-us form textarea {
  border: 10px solid white;
  border-radius: 25px;
}
.contact .container .message-us form .submit {
  border: none;
}
.contact .container .map .container-fluid .google-map {
  display: block;
}