@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900&family=Inter:wght@300;400;500;700;900&display=swap');

html, body {
    color: #191919;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

@media (min-width: 1660px){
    #features-container{
        max-width:1520px;
      }    
}


.btn-yellow {
    background-color: #F9D783;
    border: 1px solid #F9D783;
    border-radius: 25px;
    color: #191919;
    text-decoration: none;
    padding: 15px 25px;
    font-weight:600;
    font-size: 16px;

    i {
        margin-left: 8px;
        font-size: 0.9em;
    }
    &:hover {
        background-color: #191919;
        border: 1px solid #F9D783;
        color: white;
    }
}

.btn-transparent {
    background-color: transparent;
    border: 1px solid black;
    border-radius: 25px;
    color: #191919;
    text-decoration: none;
    padding: 15px 25px;
    font-weight:600;
    font-size: 16px;

    i {
        margin-left: 8px;
        font-size: 0.9em;
    }
    &:hover {
        background-color: #191919;
        border: 1px solid #F9D783;
        color: white;
    }
}

.btn-transparent-fat {
    background-color: transparent;
    border: 1px solid black;
    border-radius: 35px;
    color: #191919;
    text-decoration: none;
    padding: 20px 35px;

    font-weight:400;
    font-size: 16px;

    i {
        margin-left: 8px;
        font-size: 0.9em;
    }
    &:hover {
        background-color: #191919;
        border: 1px solid #F9D783;
        color: white;
    }
}

.btn-black {
    background-color: #191919;
    border: 1px solid #191919;
    border-radius: 25px;
    color: white;
    text-decoration: none;
    padding: 15px 25px;
    font-weight:600;
    font-size: 16px;

    i {
        margin-left: 8px;
        font-size: 0.9em;
    }
    &:hover {
        background-color: #F9D783;
        border: 1px solid #F9D783;
        color: black;
    }
}

.btn-video {
    background-color: transparent;
    color: #191919;
    text-decoration: none;
    padding: 15px 25px;
    font-weight:600;
    font-size: 16px;

    i {
        padding: 20px;
        align-items: center;
        border: 1px solid #191919;
        border-radius: 100%;
        margin-left: 8px;
        margin-right: 15px;
        font-size: 0.9em;
    }
    i:hover {
        background-color: #191919;
        border: 1px solid #191919;
        color: white;
    }
}

.btn-arw-r {
    // background-color: transparent;
    // color: #191919;
    text-decoration: none;
    padding: 15px 25px;
    font-weight:600;
    font-size: 16px;
    text-align: right;

    i {
        background-color: black;
        color: white;
        padding: 20px;
        align-items: center;
        border: 1px solid #191919;
        border-radius: 100%;
        margin-left: 8px;
        margin-right: -15px;
        font-size: 0.9em;
    }    
    i:hover {
    background-color: White;
    border: 1px solid white;
    color: #191919;
    }
}    
// försöker få hover effekt på pilen i svarta cirkeln men får inte den syncad med anchor tag.
.services-link {
    text-decoration: none;
    background-color: white;
    
}
.services-link:hover {
    background-color: #F9D783;

}
//Funkar inte på individuella element, bara på hela grid?
#p-lnk-1::after {
    content:"";
    /* Set the element as full-size */
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    /* Set bg and hide the element + animation */
    background-color: #F9D783;
    opacity:0;
    transition: all 0.5s ease 0s;                

}
#p-lnk-1:hover::after {
    /* Show the overlay on hover */
    opacity:0.3;
}




  

    

// Header ser bra ut -- att anpassa för mobilläge är nästa projekt.
header {
background-color: #F0EFE9;
padding: 16px;




    .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    
    
    
        .menu{
        display: none;
        flex: 1 1 0;
        
             @media (min-width: 992px) {
                display: block;
            }

            .top-menu {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                border-bottom: 1px solid #dad9d3;
                padding-bottom: 10px;
               

                @media (min-width: 1200px){
                    justify-content: space-between;
                }
                .contact-information {
                    display: none;
                    align-items: center;
                    
                    @media (min-width: 1200px){
                    display: flex;    
                    }
                    .content-box {
                        padding-right: 30px;
                        margin-right: 30px;
                        border-right: 1px solid #dad9d3;
                        font-family: 'Inter' sans-serif;
                        font-size: 15px;
                        font-weight: 300;

                        @media (min-width: 1200px){
                            justify-content: space-between;
                            display: flex;
                        }
                        

                        i {
                            margin-right: 5px;
                            font-size: 1.2em;

                        }

                        &.last {
                            border: none;
                        }
                    }
                }
                .social-media {
                    a {
                        color: #191919;
                        font-size: 1.3rem;
                        margin-left: 10px;

                        &:hover {
                            color: #7c7c7c;
                        }
                    }    
                }
            }
            .btn-login{
                padding-top: 12px;
                padding-bottom: 12px;
            }
        } 
          
       


        .main-menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 10px;

            nav {
                a {
                    display: inline-block;
                    color:#191919;
                    text-decoration: none;
                    margin-right: 35px;
                    position: relative;
                    
                    &.active {
                        font-weight: 500;
                    }

                    &.active::after,
                    &:hover::after {
                        content:'';
                        position: absolute;
                        font-weight: 500;
                        height: 2px;
                        width: 15px;
                        background-color: #191919;
                        left: 50%;
                        bottom: -3px;
                        transform: translate((calc(50% - 15px)));

                    }
                }
            }
        }
    
       .menu-bars {
           font-size: 30px;
           border:none;
           background-color: transparent;
    
           @media (min-width: 992px) {
                display: none;
            }
    
        }
    
    }

}
// Showcase ser bra ut -- att anpassa för mobilläge är nästa projekt.
.showcase {
    background-color: #F0EFE9;
    
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        //margin: 150px auto;

        .content {
            padding-top: 80px;
            padding-bottom: 80px;
            text-align: center;

            @media (min-width: 1200px) {
                text-align: left;
            }


            h1 {
                font-family: DM sans, sans-serif; 
                font-weight:700;
                font-size: 40px;
                
                @media (min-width: 768px) {
                    font-size: 70px;
                }
                @media (min-width: 1200px) {
                    font-size: 70px;
                    
                }

                @media (min-width: 1400px){
                    font-size: 86px;
                }

            }

            p {
                font-size: 16px;
                padding-top: 20px;
                padding-left: 10px;
                padding-right: 10px;
                padding-bottom: 40px;

                @media (min-width: 768px) {
                    font-size: 20px;
                    padding-left: 0;
                    padding-right: 0;
                }

            }

            a {
                margin-right: 0;
                display: block;
                margin-bottom: 20px;

                @media (min-width: 768px) {
                    display: inline-block;
                    margin-right: 10px;
                }
            }
        }

        img {
            display: none;
            margin-right: -50px;
            
            @media (min-width: 1200px){
                display: block;
                }
        }
           


    }
}

// .clients ser bra ut - att anpassa för mobilläge är nästa projekt.
.clients {
    padding-top: 80px;
    padding-bottom: 80px;

    .container{
        padding-left: 25px;
        padding-right: 25px;
        // background-color: #f4f4f4;- använde för att kolla padding
 
        .client-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-sizing: content-box;
            padding: 20px;
            

        

            .client-img {
                display: flex;
            }
        }    
    }        
}

//.features-container ser bra ut - att anpassa för mobilläge är nästa projekt.
.features-container {
    align-items: center;

    .container {
        border: 1px solid #D3D3D3;
        padding: 72px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        box-sizing: border-box;
        gap: 10px;

        .box-left {
            flex: 3;      
            p {
                color: #F94D1C;
                font-size: 18px; 
                padding-bottom: 10px;
            }

            .box-title {
                font-size: 45px;
                font-weight: 700;
                margin-top: 20px;
                margin-bottom: 40px; 

            }

            .btn-yellow {
                display: block;
                text-align: center;

            }
        }

        .left-spacer{
            flex: 0.3;
        }

        .grid-container {
            // background-color: #7c7c7c;
            flex: 4;
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            padding: 0 40px;
            gap: 40px;
            
            .grid-item {
                // background-color: #F0EFE9;
                text-align: left;
                

                img {
                    padding-bottom: 20px;
                }

                h3 {
                    padding-bottom: 20px;
                }

            }
        }
        
        .right-spacer{
            flex: 0.8;
        }

    }   

}

// .company-intro ser bra ut - att anpassa för mobilläge är nästa projekt. 
.company-intro {
    
    
    .container {
        margin-top: 20px;
        margin-bottom: 20px; 

        @media (min-width: 768px) {
            margin-top: 40px;
            margin-bottom: 40px; 
        }
    
        @media (min-width: 992px) {
            margin-top: 60px;
            margin-bottom: 60px; 
        }
    
        @media (min-width: 1200px) {
            margin-top: 90px;
            margin-bottom: 90px; 
        }

        @media (min-width: 1400px) {
            margin-top: 120px;
            margin-bottom: 120px; 
        }
        
        
        // border: 1px solid black;
        display: flex;
        justify-content: space-between;
        align-content: flex-start;
        gap: 200px;
        text-align: left;


        .sam-b-wrapper {
            position: relative;
        

            img {
                flex: 2;
                max-width: 100%;
                // position: relative;
            }

            // Behöver fixa här så att den följer bilden.
            .blue-hover-wrapper {
                position: absolute;
                top: 63%;
                right: 30%;
                left: -10%;
                // max-width:80%;

                .blue-hover-box {
                    background-color: #BEEBFF;
                    padding: 40px 20px 40px 30px;
                    z-index: 1;

                    .bh-inline-txt {
                        display: flex;
                        
                        h2 {
                        font-size: 20px; 
                        font-family: 'DM sans', sans-serif;
                        font-weight: 900;
                        }

                        p {
                            color: #F94D1C;
                            font-family: 'DM Sans', sans-serif;
                            font-size: 16px; 
                            font-weight: 700;
                            margin-left: 5px;
                        }
                    }
                }
            }
        }    
            
        .about-company {
            flex: 1;    
            
            .orange-txt {
                color: #F94D1C;
                font-size: 18px; 
                padding-bottom: 10px;
            }

            h2 {
                font-size: 45px; 
                font-weight: 700;
                padding: 36px 0;
            }

            // p {

            // }

            .btm-txt {
                margin-bottom: 120px; 
            }              
        }        
    }
}

//Our Services nedanför- lös så att .i också ändrar färg på .services-link:hover. + mobilläge
.our-services {
    background-color: #F0EFE9;
    margin-top: 120px;
    padding-top: 120px;
    padding-bottom: 19px;
    

    .c-top {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex: wrap;
        margin-bottom: 30px;
        // background-color: #F9D783;

        .top-wrapper {
            flex: 1;
            // border: 1px solid black;
            // background-color:#BEEBFF
    
            p {
                font-family: 'inter', sans-serif;
                color: #F94D1C;
            }
    
            h2.services-title {
                font-family: 'DM sans', sans-serif;
                font-size: 45px;
                font-weight: 700;
            }
        }
        .spacer {
            flex: 1.8;
            // border: 5px solid red;
        }
    }

    .c-middle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
  

    //    för nedan tag - använd rad 155 ovan ^
        .services-link {
            
            .outer-border {
            background-color: transparent;
            padding: 10px 0px 50px 0px;

                .inner-border {
                    background: transparent;
                    padding-top: 35px;             
                    padding-right: 15px;
                    padding-left: 20px;
                                       
                    .box-line {
                        font-weight: 700;
                        margin-bottom: 40px;
                        color: #191919;
                        
                    }

                    h3 {
                        font-family: 'DM sans', sans-serif;
                        font-size: 22px;
                        font-weight: 700;
                        color: #191919;
                        margin-bottom: 16px
                    }

                    p {
                        font-family: 'inter' sans-serif;
                        font-weight: 400;
                        color: #626262;
                    }
                }
            }
        }         
    }
    .c-btm {
        margin-top: 50px;
        text-align: center;
    }    
       
}    

//.choose-us ser bra ut - att anpassa för mobilläge är nästa projekt.
.choose-us {

    .flex-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;


        .cu-lft {
            flex: 1;

            .cu-title-cont{
                padding-right: 250px;
                margin-bottom: 50px;
    
                p {
                    color: #F94D1C;
                }
    
                h2 {
                    font-family: 'DM sans', sans-serif;
                    font-size: 45px;
                    font-weight: 700;
    
                }
            }
            
            .cu-pts-cont {
               
    
               .pts {
                    display: flex;
                    justify-content: space-between;
                    align-items:flex-start;
                    // background-color: #BEEBFF;
                    // border: 1px solid black;
    
                    .img-div {
                        
    
                        img {
                            padding: 18px;
                            border: 1px solid #E8E8E8;
                            border-radius: 50%;
        
                        }
        
                    }
    
                    .txt-div {
                        margin-left: 15px;
                        flex: 1;
    
                        p {
                            color: #626262;
                            
    
                        }
    
                        h3 {
                            font-family: 'DM sans', sans-serif;
                            font-size: 22px;
                            font-weight: 700;
    
                        }
    
                    }
               }
            }
        }
    
        .cu-rgt {
            flex: 1;
        
    
            .top-white {
                background-color: transparent;
                padding-top: 250px;
                position: relative;
                
    
                img {
                    width: 100%;
                    z-index: 1;
                    position: absolute;
                    top: 70px;
                    left: 20px;

                    // display: none;

                }
            }
    
            .bottom-grey {
                background-color: #F0EFE9;
                padding: 212px;
                margin-right: -198px;
                margin-left: -100px
            }    
        }
    }   
}

//projects ser bra ut - fixa så att länkarna kan hovras individuellt - att anpassa för mobilläge är nästa projekt.
.projects {

    .projects-wrapper {

        margin-right: -35px;

        .title-wrapper {
            text-align: center;
            margin-top: 80px;

            p {
                color: #F94D1C;
                margin-bottom: 30px;

            }

            h2 {
                font-family: 'DM sans', sans-serif;
                font-size: 45px;
                font-weight: 700;
                margin-bottom: 60px;
            }

            
        }

        .a-wrapper {
                display: flex;
                justify-content: space-between;
                align-items: center;

            .grid-container-p {
                display: grid;
                grid-template-columns: auto auto;
                gap: 2em;
                position: relative;
               

                .grid-item-p {
                    text-decoration: none;
                    color: #191919;
                   

                    .image-h3 {

                        img {
                            margin-bottom: 40px;
                            width: 100%;
                            
                        }

                        h3 {
                            font-family: 'DM sans', sans-serif;
                            font-size: 22px;
                            font-weight: 700;
                            border-bottom: 2px solid #E8E8E8;
                            padding-bottom: 20px;


                        }
                    }

                    .txt-arw {
                        text-align: right;

                        p {
                           

                        }

                        i {
                            

                        }
                    }
                }
            }
        }

        .btn-projects {
            text-align: center;
            margin-top: 60px;
        }

    }


}

// team - active development.
.team {
    background-color: #ECD28B;

    .team-content {
        margin-top: 90px;  
        padding-top: 125px;
        padding-bottom: 70px;

        .top-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;


            .team-title {
                
                     
                p {
                    color: #F94D1C;
                    margin-bottom: 30px;

                }

                h2 {
                    font-family: 'DM sans', sans-serif;
                    font-size: 45px;
                    font-weight: 700;
                    margin-bottom: 60px;
                }
            }
        }

        .slide-wrapper {
           
            
            .image-container {
                

                .ts-1 {
                    
                    
                    .carousel-item {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        text-decoration: none;
                        
                        .ts-1-img {
                            
                            img {
                                width: 100%;
                                margin-bottom: 30px;

                            }

                            .slide-bottom-text {
                                
                                h3 {
                                    color: #191919;
                                    font-family: 'DM sans', sans-serif;
                                    font-size: 22px;
                                    font-weight: 700;

                                }
            
                                p {
                                    color: #626262;
                                    
                                }
                            }
                        }
                                            
                    }
                        
                }     
                                 
            }
        }
 
                             
        .slide-dots {
            text-align: center;
            margin-top: 50px;
        
            .dot {
                cursor: pointer;
                height: 15px;
                width: 15px;
                margin: 0 2px;
                background-color: #C4AF75;
                border-radius: 50%;
                display: inline-block;
                transition: background-color 0.6s ease;
            }
            .dot:hover:active {
                background-color: #191919;
            }
            .active, .dot:hover {
                background-color: #191919;
              }
            
        }
        
    }
}

// testimonials - att anpassa för mobilläge är nästa projekt.
.testimonials {
    background-color: #ECD28B;
    padding-top: 125px;
    padding-bottom: 125px;
    
    .container {
        background-color: white;
        padding-top: 125px;
        padding-bottom: 125px;

        .test-top-wrapper {
                

            div {
                text-align: center;
                p { 
                    color:#F94D1C;
                    margin-bottom: 35px;
                }
    
                h2 {
                    font-size: 45px; 
                    font-family: 'DM sans', sans-serif;
                    font-weight: 700;
    
                    }
            }
        }
    
        .test-middle-wrapper {
            display: flex;
            justify-content: space-between;
            align-content: center;
            margin: 100px 120px 70px;        
            gap: 40px;

            .test-box {
                

                .stars {
                    letter-spacing: 3px;
                    color:#F94D1C;
                        
                }

                p { 
                    color: #191919;
                    
                }
                
                .flex-wrapper {
                    display: flex;
                    align-items: center;

                    img {
                        
                    }

                    div {
                        margin-left: 20px;
                                                
                        h3 {
                            font-size: 22px; 
                            font-family: 'DM sans', sans-serif;
                            font-weight: 00;
                            margin-top: 15px;                                        
                        }
                        p {
                            color:#F94D1C;
                            

                        }
                    }

                }
            }
    
    
        }
    
        .test-bottom-wrapper {
            text-align: center;
            
        }
    }
    


}




  
