@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900&family=Inter:wght@300;400;500;700;900&display=swap");
html, body {
  color: #191919;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

@media (min-width: 1660px) {
  #features-container {
    max-width: 1520px;
  }
}
.btn-yellow {
  background-color: #F9D783;
  border: 1px solid #F9D783;
  border-radius: 25px;
  color: #191919;
  text-decoration: none;
  padding: 15px 25px;
  font-weight: 600;
  font-size: 16px;
}
.btn-yellow i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-yellow:hover {
  background-color: #191919;
  border: 1px solid #F9D783;
  color: white;
}

.btn-transparent {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 25px;
  color: #191919;
  text-decoration: none;
  padding: 15px 25px;
  font-weight: 600;
  font-size: 16px;
}
.btn-transparent i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-transparent:hover {
  background-color: #191919;
  border: 1px solid #F9D783;
  color: white;
}

.btn-transparent-fat {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 35px;
  color: #191919;
  text-decoration: none;
  padding: 20px 35px;
  font-weight: 400;
  font-size: 16px;
}
.btn-transparent-fat i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-transparent-fat:hover {
  background-color: #191919;
  border: 1px solid #F9D783;
  color: white;
}

.btn-black {
  background-color: #191919;
  border: 1px solid #191919;
  border-radius: 25px;
  color: white;
  text-decoration: none;
  padding: 15px 25px;
  font-weight: 600;
  font-size: 16px;
}
.btn-black i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-black:hover {
  background-color: #F9D783;
  border: 1px solid #F9D783;
  color: black;
}

.btn-video {
  background-color: transparent;
  color: #191919;
  text-decoration: none;
  padding: 15px 25px;
  font-weight: 600;
  font-size: 16px;
}
.btn-video i {
  padding: 20px;
  align-items: center;
  border: 1px solid #191919;
  border-radius: 100%;
  margin-left: 8px;
  margin-right: 15px;
  font-size: 0.9em;
}
.btn-video i:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: white;
}

.btn-arw-r {
  text-decoration: none;
  padding: 15px 25px;
  font-weight: 600;
  font-size: 16px;
  text-align: right;
}
.btn-arw-r i {
  background-color: black;
  color: white;
  padding: 20px;
  align-items: center;
  border: 1px solid #191919;
  border-radius: 100%;
  margin-left: 8px;
  margin-right: -15px;
  font-size: 0.9em;
}

.services-link {
  text-decoration: none;
  background-color: transparent;
}

.services-link:hover {
  background-color: #F9D783;
}

header {
  background-color: #F0EFE9;
  padding: 16px;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
header .container .menu {
  display: none;
  flex: 1 1 0;
}
@media (min-width: 992px) {
  header .container .menu {
    display: block;
  }
}
header .container .menu .top-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid #dad9d3;
  padding-bottom: 10px;
}
@media (min-width: 1200px) {
  header .container .menu .top-menu {
    justify-content: space-between;
  }
}
header .container .menu .top-menu .contact-information {
  display: none;
  align-items: center;
}
@media (min-width: 1200px) {
  header .container .menu .top-menu .contact-information {
    display: flex;
  }
}
header .container .menu .top-menu .contact-information .content-box {
  padding-right: 30px;
  margin-right: 30px;
  border-right: 1px solid #dad9d3;
  font-family: "Inter" sans-serif;
  font-size: 15px;
  font-weight: 300;
}
@media (min-width: 1200px) {
  header .container .menu .top-menu .contact-information .content-box {
    justify-content: space-between;
    display: flex;
  }
}
header .container .menu .top-menu .contact-information .content-box i {
  margin-right: 5px;
  font-size: 1.2em;
}
header .container .menu .top-menu .contact-information .content-box.last {
  border: none;
}
header .container .menu .top-menu .social-media a {
  color: #191919;
  font-size: 1.3rem;
  margin-left: 10px;
}
header .container .menu .top-menu .social-media a:hover {
  color: #7c7c7c;
}
header .container .menu .btn-login {
  padding-top: 12px;
  padding-bottom: 12px;
}
header .container .main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
header .container .main-menu nav a {
  display: inline-block;
  color: #191919;
  text-decoration: none;
  margin-right: 35px;
  position: relative;
}
header .container .main-menu nav a.active {
  font-weight: 500;
}
header .container .main-menu nav a.active::after, header .container .main-menu nav a:hover::after {
  content: "";
  position: absolute;
  font-weight: 500;
  height: 2px;
  width: 15px;
  background-color: #191919;
  left: 50%;
  bottom: -3px;
  transform: translate(calc(50% - 15px));
}
header .container .menu-bars {
  font-size: 30px;
  border: none;
  background-color: transparent;
}
@media (min-width: 992px) {
  header .container .menu-bars {
    display: none;
  }
}

.showcase {
  background-color: #F0EFE9;
}
.showcase .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.showcase .container .content {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
}
@media (min-width: 1200px) {
  .showcase .container .content {
    text-align: left;
  }
}
.showcase .container .content h1 {
  font-family: DM sans, sans-serif;
  font-weight: 700;
  font-size: 40px;
}
@media (min-width: 768px) {
  .showcase .container .content h1 {
    font-size: 70px;
  }
}
@media (min-width: 1200px) {
  .showcase .container .content h1 {
    font-size: 70px;
  }
}
@media (min-width: 1400px) {
  .showcase .container .content h1 {
    font-size: 86px;
  }
}
.showcase .container .content p {
  font-size: 16px;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  .showcase .container .content p {
    font-size: 20px;
    padding-left: 0;
    padding-right: 0;
  }
}
.showcase .container .content a {
  margin-right: 0;
  display: block;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .showcase .container .content a {
    display: inline-block;
    margin-right: 10px;
  }
}
.showcase .container img {
  display: none;
  margin-right: -50px;
}
@media (min-width: 1200px) {
  .showcase .container img {
    display: block;
  }
}

#clients {
  padding-top: 80px;
  padding-bottom: 80px;
}
#clients .container {
  padding-left: 25px;
  padding-right: 25px;
}
#clients .container .client-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: content-box;
  padding: 20px;
}
#clients .container .client-wrapper .client-img {
  display: flex;
}

.features-container {
  align-items: center;
}
.features-container .container {
  border: 1px solid #D3D3D3;
  padding: 72px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  box-sizing: border-box;
  gap: 10px;
}
.features-container .container .box-left {
  flex: 3;
}
.features-container .container .box-left p {
  color: #F94D1C;
  font-size: 18px;
  padding-bottom: 10px;
}
.features-container .container .box-left .box-title {
  font-size: 45px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 40px;
}
.features-container .container .box-left .btn-yellow {
  display: block;
  text-align: center;
}
.features-container .container .left-spacer {
  flex: 0.3;
}
.features-container .container .grid-container {
  flex: 4;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  padding: 0 40px;
  gap: 40px;
}
.features-container .container .grid-container .grid-item {
  text-align: left;
}
.features-container .container .grid-container .grid-item img {
  padding-bottom: 20px;
}
.features-container .container .grid-container .grid-item h3 {
  padding-bottom: 20px;
}
.features-container .container .right-spacer {
  flex: 0.8;
}

.company-intro .container {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-content: start;
  gap: 200px;
  text-align: left;
}
@media (min-width: 768px) {
  .company-intro .container {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
@media (min-width: 992px) {
  .company-intro .container {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
@media (min-width: 1200px) {
  .company-intro .container {
    margin-top: 90px;
    margin-bottom: 90px;
  }
}
@media (min-width: 1400px) {
  .company-intro .container {
    margin-top: 120px;
    margin-bottom: 120px;
  }
}
.company-intro .container .sam-b-wrapper {
  position: relative;
}
.company-intro .container .sam-b-wrapper img {
  flex: 2;
  max-width: 100%;
  position: relative;
}
.company-intro .container .sam-b-wrapper .blue-hover-wrapper {
  position: absolute;
  top: 63%;
  right: 30%;
  left: -10%;
}
.company-intro .container .sam-b-wrapper .blue-hover-wrapper .blue-hover-box {
  background-color: #BEEBFF;
  padding: 40px 20px 40px 30px;
  z-index: 1;
}
.company-intro .container .sam-b-wrapper .blue-hover-wrapper .blue-hover-box .bh-inline-txt {
  display: flex;
}
.company-intro .container .sam-b-wrapper .blue-hover-wrapper .blue-hover-box .bh-inline-txt h2 {
  font-size: 20px;
  font-family: "DM sans", sans-serif;
  font-weight: 900;
}
.company-intro .container .sam-b-wrapper .blue-hover-wrapper .blue-hover-box .bh-inline-txt p {
  color: #F94D1C;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin-left: 5px;
}
.company-intro .container .about-company {
  flex: 1;
}
.company-intro .container .about-company .orange-txt {
  color: #F94D1C;
  font-size: 18px;
  padding-bottom: 10px;
}
.company-intro .container .about-company h2 {
  font-size: 45px;
  font-weight: 700;
  padding: 36px 0;
}
.company-intro .container .about-company .btm-txt {
  margin-bottom: 120px;
}

.our-services {
  background-color: #F0EFE9;
  margin-top: 120px;
  padding-top: 120px;
  padding-bottom: 19px;
}
.our-services .c-top {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex: wrap;
  margin-bottom: 30px;
}
.our-services .c-top .top-wrapper {
  flex: 1;
}
.our-services .c-top .top-wrapper p {
  font-family: "inter", sans-serif;
  color: #F94D1C;
}
.our-services .c-top .top-wrapper h2.services-title {
  font-family: "DM sans", sans-serif;
  font-size: 45px;
  font-weight: 700;
}
.our-services .c-top .spacer {
  flex: 1.8;
}
.our-services .c-middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.our-services .c-middle .services-link .outer-border {
  background-color: white;
  padding: 10px 0px 50px 0px;
}
.our-services .c-middle .services-link .outer-border .inner-border {
  background: white;
  padding-top: 35px;
  padding-right: 15px;
  padding-left: 20px;
}
.our-services .c-middle .services-link .outer-border .inner-border .box-line {
  font-weight: 700;
  margin-bottom: 40px;
  color: #191919;
}
.our-services .c-middle .services-link .outer-border .inner-border h3 {
  font-family: "DM sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: #191919;
  margin-bottom: 16px;
}
.our-services .c-middle .services-link .outer-border .inner-border p {
  font-family: "inter" sans-serif;
  font-weight: 400;
  color: #626262;
}
.our-services .c-btm {
  margin-top: 50px;
  text-align: center;
}